<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Show </title>
  </head>
  <body>
    <h1>This is show page.</h1>
    <ul>
    <% searchResults.forEach(book => { %>
        <li>
          <h3><%= book.title %></h3>
          <img src=<%= book.image_url %> />
          <p><%= book.author %></p>
          <p><%= book.description %></p>

        </li>
    <% }); %>
  </ul>
  </body>
</html>