<!DOCTYPE html>
<html>
  <head>
    <title>Book App </title>
    <link rel="stylesheet" type="text/css" href="/styles/base.css">
  </head>
  <body>
    <h1>Hello World</h1>
    <p><%= message %></p>
    <p><a href="/">Sample Here</a></p>
    <p><a href="/">Sample Here</a></p>
  </body>
</html>
