<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" type="text/css" href="/styles/base.css">
  </head>
  <body>
      <h1>Best Books!</h1>
      <p>Number of Books: <%= books.length %></p>

    <main>
      <ul>
        <% books.forEach(book => { %>
          <li>
            <h3><%= book.title %></h3>
            
          </li>       
        <% }) %>

      </ul>



    </main>
  </body>
</html>